name: trayce
description: "A new Flutter project."
# The following line prevents the package from being accidentally published to
# pub.dev using `flutter pub publish`. This is preferred for private packages.
publish_to: 'none' # Remove this line if you wish to publish to pub.dev

# The following defines the version and build number for your application.
# A version number is three numbers separated by dots, like 1.2.43
# followed by an optional build number separated by a +.
# Both the version and the builder number may be overridden in flutter
# build by specifying --build-name and --build-number, respectively.
# In Android, build-name is used as versionName while build-number used as versionCode.
# Read more about Android versioning at https://developer.android.com/studio/publish/versioning
# In iOS, build-name is used as CFBundleShortVersionString while build-number is used as CFBundleVersion.
# Read more about iOS versioning at
# https://developer.apple.com/library/archive/documentation/General/Reference/InfoPlistKeyReference/Articles/CoreFoundationKeys.html
# In Windows, build-name is used as the major, minor, and patch parts
# of the product and file versions while build-number is used as the build suffix.
version: 1.0.0+1

environment:
  sdk: ^3.7.0

# Dependencies specify other packages that your package needs in order to work.
# To automatically upgrade your package dependencies to the latest versions
# consider running `flutter pub upgrade --major-versions`. Alternatively,
# dependencies can be manually updated by changing the version numbers below to
# the latest version available on pub.dev. To see which dependencies have newer
# versions available, run `flutter pub outdated`.
dependencies:
  flutter:
    sdk: flutter
  shared_preferences: ^2.2.2
  flutter_treeview: ^1.0.7+1
  protobuf: ^3.1.0
  grpc: ^3.2.4
  uuid: ^4.3.3
  event_bus: ^2.0.0
  provider: ^6.1.1
  url_launcher: ^6.3.1
  cupertino_icons: ^1.0.2
  flutter_bloc: ^8.1.4
  sqflite: ^2.4.1
  sqflite_common_ffi: ^2.3.2+1
  sqlite3_flutter_libs: ^0.5.20
  path: ^1.8.0
  path_provider: ^2.1.2
  dropdown_button2: ^2.3.9
  ffigen: ^17.0.0
  window_manager: ^0.4.3
  accessing_security_scoped_resource: ^3.4.0
  file_selector: ^1.0.3
  reorderables: ^0.6.0
  re_editor: ^0.7.0
  re_highlight: ^0.0.3
  collection: ^1.19.1

dev_dependencies:
  mocktail: ^1.0.0
  flutter_test:
    sdk: flutter
  integration_test:
    sdk: flutter

  # The "flutter_lints" package below contains a set of recommended lints to
  # encourage good coding practices. The lint set provided by the package is
  # activated in the `analysis_options.yaml` file located at the root of your
  # package. See that file for information about deactivating specific lint
  # rules and activating additional ones.
  flutter_lints: ^5.0.0

# For information on the generic Dart part of this file, see the
# following page: https://dart.dev/tools/pub/pubspec

# The following section is specific to Flutter packages.
flutter:
  uses-material-design: true
  assets:
    - schema.sql
