DarkTheme {
    bg-extra-dark: #1E1E1E;
    bg-dark: #252526;
    bg-mid: #2D2D2D;
    bg-sidebar: #333333;
    bg-input-hover: #3A3A3A;
    bg-input: #404040;
    item-selected: #094771;
    item-bright-faded: #E25F11;
    item-bright: #4DB6AC;
    scrollbar-hover: #4F4F4F;
    scrollbar: #323232;
    border-light: #76797c;
    border-dark: #474747;
    text: #D4D4D4;
    button-bright-pressed: #1485F6;
    button-bright-hover: #1177BB;
    button-bright: #0E639C;
}
