[Desktop Entry]
Type=Application
Name=Trayce
GenericName=Trayce
Comment=backend web development software
Exec=/usr/local/bin/trayce
Icon=/usr/local/lib/trayce/icon_128x128.png
Terminal=false
Categories=Development;
